.fp-bg{
    position: relative;
    top: 0;
    left: 0;
    background-image: url('./assets/images/bg-fp.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.fp-bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
}
.btn-primary{
    background-color: rgb(96, 165, 250);
    padding: .5rem 1rem;
    border-radius: 7px;
    font-weight: 600;
}
.btn-secondary{
    background-color: rgb(55, 65, 81);
    padding: .5rem 1rem;
    border-radius: 7px;
}