@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0; box-sizing: border-box; padding: 0;
    background-color: rgb(19, 18, 18);
    color: rgb(241, 237, 237);
    font-family: 'Poppins', sans-serif;
    transition: .3s all ease;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
 width: 0;
}